<!DOCTYPE html>
<html lang="en" ng-app="js15">
  <head>
  	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="normalize.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
	<script type="text/javascript" src="main.js"></script>
	<title>JS15 - Infinite Agenda</title>
</head>
<body ng-controller="js15Troller">
<nav class="navbar-container">
	<div class="navbar-content">
		<div class="nav-title">IA 2016</div>
		<div class="navbar-view-container">
			<div class="nav-view-agenda">Agenda</div>
			<div class="nav-view-calendar">Calendar</div>
		</div>
	</div>
</nav>

<div class="agenda-container">
	<div class="day-container" ng-repeat="(dayIndex, day) in dayContainer">
		<div class="day-row" id="{{day.anchor}}"> {{day.name}}, {{day.month}} {{day.date}}, {{day.year}}</div>
			<div class="time-row" ng-repeat="(timeIndex, time) in day.hours">
				<div class="time-cell" style="background : {{time.background}};">{{time.hour}} {{time.meridiem}}</div>
				<div ng-repeat="task in time.tasks">
					<div class="content-cell"  ng-show="task.show" ng-click="editNote(dayIndex, timeIndex, $index)">{{task.content}}</div>

					<input class="edit-box" type="text" ng-model="task.content" ng-show="task.edit">
				</div>
				<div class="add-task-cell" ng-click="addNewTask(dayIndex, timeIndex)">+</div>
			</div>
	</div>
</div>

</body>

</html>